params{
    out = null
    mito1 = null
    mito2 = null
    mito_outgroup = null
    padding = 1000
}

process{
    beforeScript = 'if [ "$CONDA_PREFIX" == "" ]; then conda init && conda activate ancestral_mito; elif [ $( echo "$CONDA_PREFIX" | grep "ancestral_mito" | wc -l ) -eq 0 ]; then conda init && conda deactivate && conda activate ancestral_mito; fi'
}
